In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_excel('F:/AndiSurya/kuliah/Shoping-Demo/shooping_demo.xls')

In [3]:
data.head()

       Day Discount Free Delivery  Buy
0  Weekday      Yes           Yes  Yes
1  Weekday      Yes           Yes  Yes
2  Weekend       No            No   No
3  Holiday      Yes           Yes  Yes
4  Weekday      Yes           Yes  Yes

In [4]:
data.shape

(50, 4)

In [5]:
data['Buy'].value_counts()

Yes    41
No      9
Name: Buy, dtype: int64

In [6]:
PYes = 41/50
PNo = 9/50

In [7]:
print(PYes)

0.82

In [8]:
print(PNo)

0.18

In [9]:
pd.crosstab(data['Day'], data['Buy'])

Buy      No  Yes
Day
Holiday   6   18
Weekday   2    9
Weekend   1   14

In [10]:
PHolidayNo = 6/9
PWeekdayNo = 2/9
PWeekendNo = 1/9

PholidayYes = 18/41
PWeekdayYes = 9/41
PWeekendYes = 14/41

PHoliday = 24/50
PWeekday = 11/50
PWeekend = 15/50

print(PWeekdayYes)

0.21951219512195122

In [11]:
# P(A|B) ?
# P (B) = PWeekday
# P (A) = No Buy
# P(B|A) = P Weekday|NoBuy

In [12]:
PNoWeekday = (PWeekdayNo*PNo)/PWeekday
print(PNoWeekday)

0.1818181818181818

In [13]:
PYesWeekday = (PWeekdayYes*PYes)/PWeekday
print(PYesWeekday)

0.8181818181818181

In [14]:
# Probabilitas (Buy | Weekday) > dibanding dengan Probailitas (NoBuy | Weekday)
print(PNoWeekday)
print(PYesWeekday)

0.1818181818181818
0.8181818181818181

In [15]:
# Kondisi B diamana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# A = NoBuy
# P(A|B) = P(NoBuy |DiscountYes, Free Delivery Yes, PDayHoliday)

In [16]:
pd.crosstab(data['Discount'], data['Buy'])

Buy       No  Yes
Discount
No         5   12
Yes        4   29

In [17]:
PNoDiscountNo = 5/9
PYesDiscountNo = 4/9

PNoDiscountYes = 12/41
PYesDiscountYes = 29/41

PNoDiscount = 17/50
PYesDiscount = 33/50

In [18]:
pd.crosstab(data['Free Delivery'], data['Buy'])

Buy            No  Yes
Free Delivery
No              4   10
Yes             5   31

In [19]:
PNoDeliveryNo = 4/9
PYesDeliveryNo = 5/9

PNoDeliveryYes = 10/41
PYesDeliveryYes = 31/41

PNoDelivery = 14/50
PYesDelivery = 36/50

In [20]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# P(A) = NoBuy = PNo
# P(B) = PYesDiscount,PYesDelivery,PHoliday
# P(B|A)1 = (PHoliday|No Buy) = PHolidayNo
# P(B|A)2 = (PYesDiscount|No Buy) = PYesDiscountNo
# P(B|A)3 = (PYesDelivery|No Buy) = PYesDeliveryNo
# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery

#ditanyakan P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

In [21]:
PNoBuy1 = ((PHolidayNo*PYesDiscountNo*PYesDeliveryNo)*PNo)/(PHoliday*PYesDiscount*PYesDelivery)
print(PNoBuy1)

0.12989982125784594

In [22]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# P(A) = Buy = PYes
# P(B) = PYesDiscount,PYesDelivery,PHoliday
# P(B|A)1 = (PHoliday|Buy) = PHolidayYes
# P(B|A)2 = (PYesDiscount|Buy) = PYesDiscountYes
# P(B|A)3 = (PYesDelivery|Buy) = PYesDeliveryYes
# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery

#ditanyakan P(A|B) ?
#Rumus
# P(A|B) = P(B|A)*P(A)/P(B)

In [25]:
PBuy2 = ((PHoliday*PYesDiscountYes*PYesDeliveryYes)*PYes)/(PHoliday*PYesDiscount*PYesDelivery)
print(PBuy2)

0.9228463496756176

In [ ]:
# probality of No Buy = 0.12989982125784594
# Probality of Buy = 0.9228463496756176

In [26]:
PSum = PNoBuy1+PBuy2
print(PSum)

1.0527461709334636

In [27]:
PBuy = (PBuy2/PSum) *100
print(PBuy)

87.6608602487089

In [28]:
PNoBuy = (PNoBuy1*PSum) *100
print(PNoBuy)

13.675153943413864